/* Header */

header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

.navegacao {
	display: flex;
	gap: 19px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: goldenrod;
	text-decoration: line-through;
}

/* Main */

#banner {
	width:100%;
}

.principal{
	background: #CCCCCC;
	padding: 30px;
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	padding-bottom: 20px;
}

p {
	text-align: justify;
	font-size: 20px;
	line-height: 28px;
}

#missao {
	font-size: 20px
}

em strong {
	color: #FF0000;
}

.itens {
	font-style: itali;
	font-size: 24px;
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

 .beneficios ul {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-left: 10%;
	line-height: 77px;
	border: 20px solid #CCCCCC;
	padding: 10px 20px;
	text-decoration: underline;
	background-color: #191919;
	color: whitesmoke;
}

.imagembeneficios {
	width: 30%;
	margin-left: 12%;
	border: 20px solid #CCCCCC;
}

/* Footer */

footer {
	text-align: center;
	background-color: #000;
	padding: 40px 0;
}

.copyright {
	color: #FFF;
	font-size: 13px;
	margin-top: 20px;
	text-align: center;
}